@font-face {
    font-family: DigitalNumbers;
    src: url("../fonts/DigitalNumbers-Regular.woff");
}

:root{
    --red: #ff3b3b;
    --green: #529e14;
    --gray: #8b8b8b;
    --orange: #FF9A00;
    --light-gray: #A5A5A5;
    --dark-gray: #333333;
    --black-to-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(102%) contrast(102%);
}

#app{
    padding: 10px;
    margin: 50px;
}

.cursor-pointer{
    cursor: pointer;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.position-absolute.text-center{
    left: 0;
    right: 0;
}

.title{
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
}

.text-center{
    text-align: center;
}

.not-selectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.d-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}