.red{
    background-color: var(--red);
    color: white;
}

.green{
    background-color: var(--green);
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.red .icon, .green .icon{
    filter: var(--black-to-white);
}

.font-red{
    color: var(--red);
}