.red{
    background-color: var(--red, red);
    color: white;
}

.green{
    background-color: var(--green, green);
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.red .icon, .green .icon{
    filter: var(--black-to-white);
}

.font-red{
    color: var(--red, red);
}

.bd-gray{
    border-color: var(--gray, gray);
}