@keyframes rotate-icon {
    0% { transform: rotate(90deg)}
    25% { transform: rotate(180deg)}
    50% { transform: rotate(270deg)}
    100% { transform: rotate(360deg)}
}

.icon{
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
}

.icon-refresh{
    background-image: url("../icons/refresh.svg");
}

.icon-plus{
    background-image: url("../icons/plus.svg");
}

.icon-minus{
    background-image: url("../icons/minus.svg");
}