@font-face {
    font-family: DigitalNumbers;
    src: url("../fonts/DigitalNumbers-Regular.woff");
}

:root{
    --red: #ff3b3b;
    --red-to-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(102%) contrast(102%);
    --green: #529e14;
    --green-to-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(102%) contrast(102%);
}

#app{
    padding: 10px;
    margin: 50px;
}

.cursor-pointer{
    cursor: pointer;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.position-absolute.text-center{
    left: 0;
    right: 0;
}

.text-center{
    text-align: center;
}