.red{
    background-color: var(--red);
    color: white;
}

.red .icon{
    filter: var(--red-to-white);
}

.green{
    background-color: var(--green);
    color: white;
}

.green .icon{
    filter: var(--green-to-white);
}

.black{
    background-color: black;
    color: white;
}

.font-red{
    color: var(--red);
}