.red{
    background-color: #ff3b3b;
    color: white;
}

.red .icon{
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(102%) contrast(102%);
}

.green{
    background-color: #529e14;
    color: white;
}

.green .icon{
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(102%) contrast(102%);
}